* {
    font-family: Courier New, Verdana;
    text-align: center;

}
.text {
    color: #262626;
}
body {
    background-color: blanchedalmond;

}
ul {
    font-weight: bolder;
    list-style-type: none;
    margin-left: -40px;

}
